
.wrapper {
  width: 800px;
  margin: 50px auto;
}

.shape-box {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.square {
  background-color: orange;
  width: 100px;
  height: 100px;
}

.circle {
  background-color: tomato;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.rectangle {
  background-color:palegreen;
  width: 100px;
  height: 150px;
  padding: 8px
}

.color-box {
  background-color: #3c3c3c;
  margin-bottom: 24px;
  padding: 16px;
}

.color-list {
  display:flex;
  justify-content: space-between;
  padding: 0;
}

.color-list li {
  list-style-type: none;
  margin-left: 0;
  color: white;
}

.color-box a {
  color: white;
  text-decoration: none;
}

.color-box a:hover {
  color: gray;
}
